
    .slider .indicators .indicator-item.active {
        background-color: #E91E63;
    }
    section{
        padding: 50px 0px;
    }
    .bold-txt{
        font-weight: bold;
    }
    .background{
        background-color: #f3f4f6;
    }
/* Default hidden state */
    .hidden {
    opacity: 0;
    transform: translateY(50px); /* Start slightly below */
    transition: 1s all 0.2s ease-out; /* Smooth transition */
}

/* Visible state (triggered by JS) */
.visible {
    opacity: 1;
    transform: translateY(0); /* Move to original position */
}
/* General hidden state for fade-in from the left */
.fade-in-left.hidden {
    transform: translateX(-50px); /* Start from the left */
}

/* When the section becomes visible */
.fade-in-left.visible {
    opacity: 1;
}
/* Fade-in from the right */
.fade-in-right.hidden {
    transform: translateX(50px); /* Start 50px to the right */
}

.fade-in-right.visible {
    opacity: 1;
    transform: translateX(0); /* Move to its original position */
}

/* Fade-in from the bottom */
.fade-in-bottom.hidden {
    transform: translateY(50px); /* Start 50px below */
}

.fade-in-bottom.visible {
    opacity: 1;
    transform: translateY(0); /* Move to its original position */
}


    .dark-text{
        color: #212121;
    }
    .secondary-color{
        background-color: #E91E63;
    }
    .mission-section{
        background-color: #E91E63;
        color: white;
        padding: 30px 200px;
    }
    
    .banner-div{
        position: relative;
    } 

    .video-txt{
        position:absolute;
        top: 35%;
        left: 5%;
    }
    .overview-text, .mission-text {
            line-height: 1.8;
        }
    .btn {
            border-radius: 30px;
            text-transform: none;
        }
    .section-heading {
        position: relative;
        display: inline-block;
        padding-bottom: 10px;
    }
    .section-heading::after {
        content: "";
        width: 50px;
        height: 4px;
        background-color: #E91E63;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        }
